In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv("congress.csv")
# Removing the URL column just to make things harder for us
# (BUT THE THINGS WE'LL LEARN!!!)
df = df.drop(columns='url')
df.head()

                                name                      slug
0              Senator Abdnor, James      james-abdnor/A000009
1   Representative Abercrombie, Neil  neil-abercrombie/A000014
2            Senator Abourezk, James    james-abourezk/A000017
3  Representative Abraham, Ralph Lee     ralph-abraham/A000374
4           Senator Abraham, Spencer   spencer-abraham/A000355

In [3]:
url = "https://www.congress.gov/member/james-abdnor/A000009"
response = requests.get(url)
doc = BeautifulSoup(response.text)

In [6]:
doc.find(class_='legDetail')

In [7]:
doc.find(class_='legDetail').next_element #name, next elemen untuk print elemen setelah class_='legDetail'

'Senator James Abdnor'

In [9]:
name = doc.find(class_='legDetail').next_element
birthdate = doc.find(class_='birthdate').text
print(name, birthdate)

Senator James Abdnor  (1923 - 2012)

In [16]:
congress_year = doc.find(class_='birthdate').find_next_sibling('span').text
congress_year

'In Congress 1973 - 1987'

In [17]:
doc.find(class_='birthdate').next_element
print(name, birthdate, congress_year)

Senator James Abdnor  (1923 - 2012) In Congress 1973 - 1987

In [19]:
doc.select_one('#searchTune > div.basic-search-tune-number > span')

<span class="results-number">
<strong>
                    1-100                </strong>
                of 1,949            </span>

In [18]:
# find and print out his name
# doc.find, not doc.find_all, because there is only ONE name
name = doc.find(class_='legDetail').next_element
birthdate = doc.find(class_='birthdate').text
in_congress = doc.find(class_='birthdate').find_next_sibling('span').text
bill_count = doc.select_one('#searchTune > div.basic-search-tune-number > span').text.strip()
print(name, birthdate, in_congress, bill_count)

Senator James Abdnor  (1923 - 2012) In Congress 1973 - 1987 1-100
                of 1,949

***TURN INTO DICTIONARY***

In [20]:
# find and print out his name
# doc.find, not doc.find_all, because there is only ONE name
page = {}

page['name'] = doc.find(class_='legDetail').next_element
page['birthdate'] = doc.find(class_='birthdate').text
page['in_congress'] = doc.find(class_='birthdate').find_next_sibling('span').text
page['bill_count'] = doc.select_one('#searchTune > div.basic-search-tune-number > span').text.strip()
print(page)

{'name': 'Senator James Abdnor', 'birthdate': ' (1923 - 2012)', 'in_congress': 'In Congress 1973 - 1987', 'bill_count': '1-100                \r\n                of 1,949'}

In [22]:
# Put *everything* in here
# Also add in the code where we downloaded the page
url = "https://www.congress.gov/member/james-abdnor/A000009"
print("We are scraping", url)

response = requests.get(url)
doc = BeautifulSoup(response.text)

# find and print out his name
# doc.find, not doc.find_all, because there is only ONE name
page = {}

page['name'] = doc.find(class_='legDetail').next_element
page['birthdate'] = doc.find(class_='birthdate').text
page['in_congress'] = doc.find(class_='birthdate').find_next_sibling('span').text
page['bill_count'] = doc.select_one('#searchTune > div.basic-search-tune-number > span').text.strip()
print(page)

We are scraping https://www.congress.gov/member/james-abdnor/A000009
{'name': 'Senator James Abdnor', 'birthdate': ' (1923 - 2012)', 'in_congress': 'In Congress 1973 - 1987', 'bill_count': '1-100                \r\n                of 1,949'}

***LET'S BUILD A FUNCTION***

In [32]:
def scrape_page(row):
    print("Scraping", row['slug'])

In [33]:
df = df.head(10)
df.shape

(10, 2)

In [34]:
# YO!
# Take my dataframe - df.
# Go through every single row - axis=1
# And feed it to scrape_page - .apply(scrape_page
df.apply(scrape_page, axis=1)

Scraping james-abdnor/A000009
Scraping neil-abercrombie/A000014
Scraping james-abourezk/A000017
Scraping ralph-abraham/A000374
Scraping spencer-abraham/A000355
Scraping bella-abzug/A000018
Scraping anibal-acevedo-vila/A000359
Scraping gary-ackerman/A000022
Scraping alma-adams/A000370
Scraping brockman-adams/A000031

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [35]:
def scrape_page(row):
    # These both work the same
    url = f"https://www.congress.gov/member/" + row['slug']
    url = f"https://www.congress.gov/member/{row['slug']}"
    # Print out the 'slug' column
    # print("Scraping", row['slug'])
    print("Scraping", url)

In [36]:
# YO!
# Take my dataframe - df.
# Go through every single row - axis=1
# And feed it to scrape_page - .apply(scrape_page
df.apply(scrape_page, axis=1)

Scraping https://www.congress.gov/member/james-abdnor/A000009
Scraping https://www.congress.gov/member/neil-abercrombie/A000014
Scraping https://www.congress.gov/member/james-abourezk/A000017
Scraping https://www.congress.gov/member/ralph-abraham/A000374
Scraping https://www.congress.gov/member/spencer-abraham/A000355
Scraping https://www.congress.gov/member/bella-abzug/A000018
Scraping https://www.congress.gov/member/anibal-acevedo-vila/A000359
Scraping https://www.congress.gov/member/gary-ackerman/A000022
Scraping https://www.congress.gov/member/alma-adams/A000370
Scraping https://www.congress.gov/member/brockman-adams/A000031

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [37]:
df.apply(scrape_page, axis=1)

Scraping https://www.congress.gov/member/james-abdnor/A000009
Scraping https://www.congress.gov/member/neil-abercrombie/A000014
Scraping https://www.congress.gov/member/james-abourezk/A000017
Scraping https://www.congress.gov/member/ralph-abraham/A000374
Scraping https://www.congress.gov/member/spencer-abraham/A000355
Scraping https://www.congress.gov/member/bella-abzug/A000018
Scraping https://www.congress.gov/member/anibal-acevedo-vila/A000359
Scraping https://www.congress.gov/member/gary-ackerman/A000022
Scraping https://www.congress.gov/member/alma-adams/A000370
Scraping https://www.congress.gov/member/brockman-adams/A000031

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [39]:
df.loc[0] #ngasih hanya first row saja

name    Senator Abdnor, James
slug     james-abdnor/A000009
Name: 0, dtype: object

In [41]:
def scrape_page(row):
    # These both work the same
    url = f"https://www.congress.gov/member/" + row['slug']
    url = f"https://www.congress.gov/member/{row['slug']}"
    # Print out the 'slug' column
    print("Scraping", url)

    # Steal all of our scraping code from before
    response = requests.get(url)
    doc = BeautifulSoup(response.text)

    # find and print out his name
    # doc.find, not doc.find_all, because there is only ONE name
    page = {}

    page['name'] = doc.find(class_='legDetail').next_element
    page['birthdate'] = doc.find(class_='birthdate').text
    page['in_congress'] = doc.find(class_='birthdate').find_next_sibling('span').text
    page['bill_count'] = doc.select_one('#searchTune > div.basic-search-tune-number > span').text.strip()

    # In your function, always return pd.Series(page)
    # It converts what you've scraped into a dataframe
    return pd.Series(page)

In [43]:
scraped_df = df.apply(scrape_page, axis=1)

Scraping https://www.congress.gov/member/james-abdnor/A000009
Scraping https://www.congress.gov/member/james-abdnor/A000009
Scraping https://www.congress.gov/member/neil-abercrombie/A000014
Scraping https://www.congress.gov/member/james-abourezk/A000017
Scraping https://www.congress.gov/member/ralph-abraham/A000374
Scraping https://www.congress.gov/member/spencer-abraham/A000355
Scraping https://www.congress.gov/member/bella-abzug/A000018
Scraping https://www.congress.gov/member/anibal-acevedo-vila/A000359
Scraping https://www.congress.gov/member/gary-ackerman/A000022
Scraping https://www.congress.gov/member/alma-adams/A000370
Scraping https://www.congress.gov/member/brockman-adams/A000031

In [44]:
df.merge(scraped_df, left_index=True, right_index=True)

,name_x,slug,name_y,birthdate,in_congress,bill_count
0,"Senator Abdnor, James",james-abdnor/A000009,Senator James Abdnor,(1923 - 2012),In Congress 1973 - 1987,"1-100 \r\n of 1,949"
1,"Representative Abercrombie, Neil",neil-abercrombie/A000014,Representative Neil Abercrombie,(1938 - ),"In Congress 1985 - 1987, 1991 - 2011","1-100 \r\n of 4,472"
2,"Senator Abourezk, James",james-abourezk/A000017,Senator James Abourezk,(1931 - ),In Congress 1971 - 1979,1-100 \r\n of 875
3,"Representative Abraham, Ralph Lee",ralph-abraham/A000374,Representative Ralph Lee Abraham,(1954 - ),In Congress 2015 - Present | \n\n $(do...,1-100 \r\n of 637
4,"Senator Abraham, Spencer",spencer-abraham/A000355,Senator Spencer Abraham,(1952 - ),In Congress 1995 - 2001,"1-100 \r\n of 1,227"
5,"Representative Abzug, Bella S.",bella-abzug/A000018,Representative Bella S. Abzug,(1920 - 1998),In Congress 1971 - 1977,"1-100 \r\n of 1,437"
6,"Representative Acevedo-Vila, Anibal",anibal-acevedo-vila/A000359,Representative Anibal Acevedo-Vila,(1962 - ),In Congress 2001 - 2005,1-100 \r\n of 503
7,"Representative Ackerman, Gary L.",gary-ackerman/A000022,Representative Gary L. Ackerman,(1942 - ),In Congress 1983 - 2013,"1-100 \r\n of 7,315"
8,"Representative Adams, Alma S.",alma-adams/A000370,Representative Alma S. Adams,(1946 - ),In Congress 2014 - Present | \n\n $(do...,1-100 \r\n of 809
9,"Senator Adams, Brock",brockman-adams/A000031,Senator Brock Adams,(1927 - 2004),"In Congress 1965 - 1979, 1987 - 1993","1-100 \r\n of 1,716"

In [45]:
df.join(scraped_df, rsuffix='_scraped')

,name,slug,name_scraped,birthdate,in_congress,bill_count
0,"Senator Abdnor, James",james-abdnor/A000009,Senator James Abdnor,(1923 - 2012),In Congress 1973 - 1987,"1-100 \r\n of 1,949"
1,"Representative Abercrombie, Neil",neil-abercrombie/A000014,Representative Neil Abercrombie,(1938 - ),"In Congress 1985 - 1987, 1991 - 2011","1-100 \r\n of 4,472"
2,"Senator Abourezk, James",james-abourezk/A000017,Senator James Abourezk,(1931 - ),In Congress 1971 - 1979,1-100 \r\n of 875
3,"Representative Abraham, Ralph Lee",ralph-abraham/A000374,Representative Ralph Lee Abraham,(1954 - ),In Congress 2015 - Present | \n\n $(do...,1-100 \r\n of 637
4,"Senator Abraham, Spencer",spencer-abraham/A000355,Senator Spencer Abraham,(1952 - ),In Congress 1995 - 2001,"1-100 \r\n of 1,227"
5,"Representative Abzug, Bella S.",bella-abzug/A000018,Representative Bella S. Abzug,(1920 - 1998),In Congress 1971 - 1977,"1-100 \r\n of 1,437"
6,"Representative Acevedo-Vila, Anibal",anibal-acevedo-vila/A000359,Representative Anibal Acevedo-Vila,(1962 - ),In Congress 2001 - 2005,1-100 \r\n of 503
7,"Representative Ackerman, Gary L.",gary-ackerman/A000022,Representative Gary L. Ackerman,(1942 - ),In Congress 1983 - 2013,"1-100 \r\n of 7,315"
8,"Representative Adams, Alma S.",alma-adams/A000370,Representative Alma S. Adams,(1946 - ),In Congress 2014 - Present | \n\n $(do...,1-100 \r\n of 809
9,"Senator Adams, Brock",brockman-adams/A000031,Senator Brock Adams,(1927 - 2004),"In Congress 1965 - 1979, 1987 - 1993","1-100 \r\n of 1,716"