# Waffle House, by state

* **Files:**
    - `wafflehouses.csv`: Waffle house locations with a little fake data thrown in
    - `abbreviations.xlsx`: State names and abbreviations
    - `nst-est2016-01.xlsx`: Populations by state
* **Topics:**
    - Merging
    - Merging
    - Merging
    - A little bit about indexes

In [1]:
import pandas as pd
%matplotlib inline

In [2]:
df=pd.read_csv('wafflehouses.csv')

In [3]:
df.tail(2)

                         location        lat       long  score
1801  Waffle House-Martinsburg,WV  39.445517 -77.986999      4
1802  Waffle House-Martinsburg,WV  39.486633 -77.957717      2

In [4]:
df.dtypes

location     object
lat         float64
long        float64
score         int64
dtype: object

In [5]:
df.location.head(5)

0       Waffle House-Duluth,GA
1       Waffle House-Biloxi,MS
2        Waffle House-Pearl,MS
3      Waffle House-Memphis,TN
4    Waffle House-Lumberton,TX
Name: location, dtype: object

In [6]:
#how to extract only the state code lincoln, NE dan ambil NE saja

[0:4] dari 0 sampai 4
[:4] dari awal sampai 4
[-3:] tiga terakhir

In [7]:
sentence ='Hello Soma'
sentence[0]

'H'

In [8]:
sentence[0:5]

'Hello'

In [9]:
sentence[-4:]

'Soma'

In [10]:
sentence[-2:]

'ma'

In [11]:
df.location[-2:]

1801    Waffle House-Martinsburg,WV
1802    Waffle House-Martinsburg,WV
Name: location, dtype: object

In [12]:
df.location.str.contains('WV')
df.location.replace('WV', 'West Virginia')
df.location.replace('GA', 'Georgia')
df['State_Abbr'] = df.location.str[-2:]
df.head(10)

                     location        lat       long  score State_Abbr
0      Waffle House-Duluth,GA  33.991269 -84.153232      8         GA
1      Waffle House-Biloxi,MS  30.393627 -88.942691      3         MS
2       Waffle House-Pearl,MS  32.269078 -90.135180      3         MS
3     Waffle House-Memphis,TN  35.155903 -89.885466      2         TN
4   Waffle House-Lumberton,TX  30.242025 -94.195967      2         TX
5        Waffle House-Troy,AL  31.793855 -85.979100      9         AL
6  Waffle House-Middletown,DE  39.449629 -75.727768      4         DE
7      Waffle House-Darien,GA  31.386768 -81.427065      8         GA
8     Waffle House-Clinton,TN  36.088806 -84.171799      7         TN
9   Waffle House-Alabaster,AL  33.232558 -86.810034      9         AL

#di location masih ada ,GA!!!!!!!!!

In [13]:
df.location.str.extract(",(.*)")
#df.location.str.extract("Waffle House-(.*),..") - ambil semua  (,..)kata yang berawalkan Waffle House - dan hilangkan (.*)

       0
0     GA
1     MS
2     MS
3     TN
4     TX
5     AL
6     DE
7     GA
8     TN
9     AL
10    AL
11    AL
12    AL
13    AL
14    AL
15    AL
16    AL
17    AL
18    AL
19    AL
20    AL
21    AL
22    AL
23    AL
24    AL
25    AL
26    AL
27    AL
28    AL
29    AL
...   ..
1773  VA
1774  VA
1775  VA
1776  VA
1777  VA
1778  VA
1779  VA
1780  VA
1781  VA
1782  VA
1783  VA
1784  VA
1785  VA
1786  VA
1787  VA
1788  VA
1789  VA
1790  VA
1791  VA
1792  VA
1793  VA
1794  VA
1795  VA
1796  VA
1797  VA
1798  VA
1799  WV
1800  WV
1801  WV
1802  WV

[1803 rows x 1 columns]

In [14]:
df['State_Abbr']=df.location.str.extract(",(.*)", expand=False)

In [15]:
"2950 Broadway, New York, NY".split(",")[-1]

' NY'

In [16]:
"2950 Broadway, New York, NY".split(",")[0]

'2950 Broadway'

In [17]:
df.location.str.split(",")[0]

['Waffle House-Duluth', 'GA']

In [ ]:
df.location.str.split(",")[0]

In [ ]:
df.location.str.split(",").str.get(-1)
#split it based on commas and then get me the last thing was split off

In [ ]:
df.State_Abbr.value_counts(ascending=False)

In [ ]:
populations =pd.read_excel('nst-est2016-01.xlsx', skiprows=3, skipfooter=7)
populations = populations.rename(columns={
    'Unnamed: 0': 'state'
})
#rename columns buat pakai dictionary
#kalau sudah rename mesti tulis ulang lagi nama variablenya kalau enggak dia enggak akan kesave
populations.head(10)

In [ ]:
#skip row bukan option untuk baca csv
#skip row mesti dilakukan untuk data excel karena biasanya berlapis headersnya

In [ ]:
#persoalan berikutnya ada banyak dirty data, e.g. .Arkansas, .California. Gimana cara untuk get rid dirty data?

In [ ]:
populations['state'] = populations.state.str.replace('.','')
populations.head(10)
#string penting karena kita hanya ingin mengganti sebagian dari string bukan keseluruhan.

In [ ]:
populations = populations[5:]
populations

In [ ]:
#DIRTY DATAAAA~~~~~~

In [ ]:
df.head()

In [ ]:
populations.head()

In [ ]:
abbrs = pd.read_excel('abbreviations.xlsx')
abbrs.head()

In [ ]:
df.head()

In [ ]:
merged = df.merge(abbrs, left_on='State_Abbr', right_on='abbreviation')
merged.head()

In [ ]:
populations

In [ ]:
pop_merged = merged.merge(populations, left_on='name', right_on='state')
pop_merged.head()

In [ ]:
merged_pop = merged.merge(populations, left_on='name', right_on='state')
merged_pop.head()

In [ ]:
merged_pop.state.value_counts().to_frame()

In [ ]:
count_df=merged_pop.state.value_counts()
count_df

In [ ]:
calc_df=pop_merged.state.value_counts().to_frame().merge(populations, right_on='state', left_index=True)
calc_df

In [ ]:
calc_df[2015]